*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#f0f0f0;
    font-family:'Poppins', sans-serif;
}

.navbar{
    width:100%;
    padding:20px 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;

    position:sticky;
    top:0;

    z-index:1000;

    box-shadow:0 2px 15px rgba(0,0,0,0.1);
}

.logo{

    font-family:'Montserrat', sans-serif;

    font-size:42px;

    font-weight:700;

    background:linear-gradient(to right,#00a86b,#7ccf00);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;
}

.nav-links a{
    color:#333;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    font-weight:bold;
}

.nav-links a:hover{
    color:#00a86b;
}

section{
    background:white;
    margin:30px auto;
    padding:40px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    width:100%;
    padding:80px 60px;
}


#home{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    background:
    linear-gradient(rgba(141, 174, 121, 0.5),
    rgba(134, 213, 130, 0.5)),

    url("https://images-static.nykaa.com/uploads/86e663ad-e776-4808-a3dd-7c74ee172abd.gif");

    color:rgb(29, 33, 31);
}
#home h1{
    font-size:50px;
    margin-bottom:20px;
}

#home p{
    color:rgb(22, 18, 18);
    font-size:20px;
    margin-bottom:15px;
}

#home button{
    background:#00a8e8;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}


h2{
    color:#00a86b;
    margin-bottom:20px;
    text-align:center;
}

p{
    color:#333;
    font-size:16px;
    line-height:1.6;
}

img{
    display:block;
    margin:20px auto;
    max-width:100%;
    border-radius:5px;
}

.features{
    padding:80px 60px;
    text-align:center;
}

.features h2{
    font-size:42px;
    color:#00a86b;
    margin-bottom:50px;
}

.feature-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.feature-box{
    background:rgb(218, 246, 214);
    padding:40px 25px;
    border-radius:20px;
    transition:0.4s;
    box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.feature-box:hover{
    transform:translateY(-10px);
}

.feature-box i{
    font-size:40px;
    color:#00a86b;
    margin-bottom:20px;
}

.products{
    background:#eefcf5;
}

.product-box{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.product-item{
    background:white;
    border-radius:10px;
    padding:15px;
    text-align:center;
    position:relative;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.product-item:hover{
    transform:translateY(-10px);
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.product-item img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.description{
    margin:10px 0;
}

.price{
    color:green;
    font-size:24px;
    font-weight:bold;
    margin:15px 0;
}
button{
    background:#00a8e8;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:5px;
    margin:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0077b6;
}

.tag{
    position:absolute;
    top:10px;
    left:10px;
    background:#7ccf00;
    color:white;
    padding:5px 10px;
    font-size:12px;
    border-radius:5px;
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .feature-container{
        flex-direction:column;
    }

    #home h1{
        font-size:35px;
    }
}
.contact-section{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:50px;

    padding:100px 80px;

    background:white;
}

.contact-left h2{

    font-size:50px;

    color:#00a86b;

    margin-bottom:20px;
}

.contact-left p{

    font-size:18px;

    line-height:1.8;
}

.contact-details{

    margin-top:30px;
}

.contact-details p{

    margin-bottom:15px;

    font-weight:600;
}

.contact-right form{

    display:flex;

    flex-direction:column;

    gap:20px;
}

.contact-right input,
.contact-right textarea{

    padding:18px;

    border:none;

    border-radius:15px;

    background:#f3f3f3;

    font-size:16px;
}

.contact-right textarea{

    height:150px;

    resize:none;
}

.contact-right button{

    padding:15px;

    border:none;

    border-radius:30px;

    background:#00a86b;

    color:white;

    font-size:16px;

    cursor:pointer;
}
.offers-section{

    padding:100px 80px;

    background:
    linear-gradient(to right,#e9fff2,#f4fffb);
}

.offers-section h2{

    text-align:center;

    font-size:50px;

    color:#00a86b;

    margin-bottom:50px;
}

.offers-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:30px;
}

.offer-card{

    background:white;

    padding:40px;

    border-radius:25px;

    text-align:center;

    transition:0.4s;

    box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.offer-card:hover{

    transform:translateY(-10px);
}

.offer-card h3{

    font-size:35px;

    color:#00a86b;

    margin-bottom:15px;
}

.offer-card p{

    margin-bottom:25px;
}

.offer-card button{

    padding:12px 25px;

    border:none;

    border-radius:30px;

    background:#00a8e8;

    color:white;

    cursor:pointer;
}


footer{
    background:#aee19e;
    color:white;
    padding:60px 40px 20px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-bottom:30px;
}

.social-icons i{
    font-size:22px;
    margin-right:15px;
    cursor:pointer;
}

hr{
    border:1px solid #c1daa71a;
    margin:20px 0;
}

.copyright{
    text-align:center;
}
.search-box{
    display:flex;
    align-items:center;
    gap:10px;
}

.search-box input{
    padding:10px 15px;
    width:220px;
    border:none;
    border-radius:25px;
    outline:none;
}

.search-box button{
    padding:10px 18px;
    border:none;
    border-radius:25px;
    background:#00a86b;
    color:white;
    cursor:pointer;
}
.hero-slider{
    width:100%;
    overflow:hidden;
    position:relative;
}

.hero-slides{
    display:flex;
    width:200%;

    animation:smoothSlide 50s linear infinite;
}

.slide{
    width:90%;
    flex-shrink:0;
    position:relative;
}

.slide img{
    width:90%;
    height: 100px;
    object-fit:cover;
}
@keyframes smoothSlide{

    0%{
        transform:translateX(0%);
    }

    33%{
        transform:translateX(-100%);
    }

    66%{
        transform:translateX(-200%);
    }

    100%{
        transform:translateX(0%);
    }
}